* {
    margin: 0;
    padding: 0;
}

.menu {
    background-color: rgb(84, 84, 214);
    width: 300px;
    height: 160vh;
    transition: 0.4s;
    position: fixed;
    top: 0;
}

.menu ul {
    position: absolute;
    width: 100%;
    padding: 0;
}

.menu ul li {
    position: relative;
    width: 100%;
    list-style: none;
}

.menu ul li:hover {
    background-color: white;
}

.menu ul li:nth-child(1) {
    margin-top: 100px;
}

.menu ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    text-align: center;
    color: white;
}

.menu ul li a .title {
    position: relative;
    display: block;
    padding: 0 30px;
    height: 80px;
    font-weight: 600;
    line-height: 80px;
    text-align: start;
    white-space: nowrap;
    font-size: 30px;
}

.menu ul li:hover a {
    color: rgb(84, 84, 214);

}

.view {
    /* background-color: aqua; */
    padding-left: 50px;
    width: calc(100% - 300px);
    position: absolute;
    left: 300px;
    padding: 20px;
    position: relative;
}

.logout{
    position: absolute;
    left: 90%
}
p {
    font-size: 40px;
    font-weight: 700;
}

.view img {
    height: 100px;
    width: 100px;
}

table,th,td {
    border: 1px solid #868585;
    font-size: 15px;
}

thead {
    height: 70px;
    font-size: 30px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table thead tr td {
    font-size: 50px;
}

table tr:nth-child(odd) {
    background-color: #eee;
}

table tr:nth-child(even) {
    background-color: white;
}

table thead tr:nth-child(1) {
    background-color: skyblue;
}